body {
  margin: 0;
  font-family: sans-serif; 
}
body #header {
  background-color: #68bd7c;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
body #header #logoAndIcons {
  display: flex; 
}
body #header #logotext {
  color: white;
  padding-left: 5px;
  display: inline; 
}
body #header #icon_ul {
  margin-top: 25px;
  list-style: none;
  display: inline-block; 
}
body #header #icon_ul li {
  display: inline;
  padding: 8px; 
}
body #header .navbtn {
  border: 0;
  background-color: white;
  width: 100px;
  height: 30px;
  padding: 5px;
  margin-right: 3px;
  border-radius: 15px;
  cursor: pointer; 
}
body #header .navbtn:hover {
  background-color: #e3e3e3; 
}
body #header2 {
  background-color: black;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
body #header2 #user_name {
  color: white;
  padding: 5px;
  margin-left: 5px;
  font-size: 20px;
  font-weight: 400; 
}
#forgotAfterLogin{
    width: 300px;
    border-radius: 24px;
    border: 1px solid silver;
    position: absolute;
    right: -3px;
    box-shadow: 0px 1px 13px 6px silver;
    background-color:rgb(0, 0, 0 ,0.8);
    padding: 20px;
    z-index: 3;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#forgotAfterLogin input[type="password"]{
  padding: 10px;
  width: 230px;
  margin-bottom: 5px;
}

#closefal{
  display: flex;
    justify-content: flex-end;
    width: 270px;
    height: 15px;
    align-items: center;
    padding-bottom: 20px;
}
#closefal i{
  cursor: pointer;
}
#forgotAfterLogin button{
  width: 200px;
  padding: 10px;
}

